<div class="footer" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" style="text-align:center ; ">
    <a style="padding-right: 25px;"><img [src]="baseUrl+'Phone.png'" >  0212 505 54 58</a>
    <a style="padding-right: 25px;"><img [src]="baseUrl+'Location.png'"><i> İstanbul/Kadıköy Fatih Sultan Mehmet Mah. No:5</i></a>
    <a style="padding-right: 25px;">Bizimle şu sosyal medya hesaplarından iletişim kurabilirsiniz. </a>
    <a style="padding-right: 25px;"><img [src]="baseUrl+'Instagram.png'"><i> Rent_a_car</i></a>
    <a ><img [src]="baseUrl+'Twitter.png'"><i> Rent_a_car</i></a>
</div>
