<div class="card text-center mb-3" style="width: 60%; left: 20%;" >
    <img [src]="baseUrl+'Homepagelogo.png'" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">Uygun Fiyata Araç Kiralama Hizmeti ! </h5>
      <p class="card-text"> Tatile mi Çıkacaksınız ? Uygun Fiyata Bir Araç mı Kiralamak İstiyorsunuz ? Uygun Fiyatlı Araçlar Rent A Car'da</p>
      <p class="card-text"><button class="btn btn-success btn-" routerLink="/cars" style="width: 20%;">Araç Kirala</button></p>
    </div>
</div>